#button {
    display: inline-block;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.2s;
  }
  
  #button:hover {
    transform: scale(1.1);
    text-decoration:underline;
}

#poster{
    float: left;
    width:min-content;
}

body {
    inline-size: 100%;
    font-family:Sans-serif;
}

#navbar1 {
    background-color: darkgreen;
    width: 100%;
}

#item-navbar {
    background-color: darkgreen;
    width: 100%;
}

#logo {
    width: 30%;
    background-color: transparent;
    padding-left: 5%;

}

#poster{
    float: left;
    right: 20px;
    padding-right: 70px;
}

#texto1 {
    padding-top: 30px;
}

#imagens {
    width: 65%;
    grid-row: unset;
}

#text {
    color:  darkgreen;
    font-weight:lighter;
}

#text1 {
    color: gray;
}   

#text2 {
    color:  darkgreen;
    background-color: greenyellow;
}


#footer {
    background-color: darkgreen;
}

#lista-footer{
    background-color: white;
    padding-right: 30px;
    width: 100%;
}

#texto-prioridade{
    color:  darkgreen;
    background-color: greenyellow;
}

#cards{
    width: 18rem;
    float: left;
    margin-right: 2%;
    padding-bottom: 2%;
    color: darkgreen;
}
