body {
    inline-size: 100%;
    font-family:Sans-serif;
    background-color: white;
    background-image: url(../img/);
    background-size: cover;
}

#navbar1 {
    background-color: darkgreen;
    width: 100%;
}

#logo {
    width: 370px;
    height: 120px;

}

#poster{
    float: left;
    right: 20px;
    padding-right: 70px;
}

#texto1 {
    padding-top: 30px;
}

#imagens {
    width: 65%;
    grid-row: unset;
}

#text {
    color:  darkgreen;
}

#text1 {
    color: gray;
}   

#text2 {
    color:  darkgreen;
    background-color: greenyellow;
}

#footer {
    background-color: darkgreen;
}

#item-footer{
    background-color: greenyellow;
}

#texto-prioridade{
    color:  darkgreen;
    background-color: greenyellow;
    width: 43%;
}