@keyframes fadeIn {
    from {
      opacity: 0; /* Começa com opacidade 0 (invisível) */
    }
    to {
      opacity: 1; /* Termina com opacidade 1 (totalmente visível) */
    }
  }
  

#corpo-texto{
    color: grey;
    width: 100%;
    animation: fadeIn 1s ease-in-out; /* Nome da animação, duração, função de temporização */
}


#texto-titulo {
    color: darkgreen;
    animation: fadeIn 1s ease-in-out; /* Nome da animação, duração, função de temporização */
}


#foto{
    float: left;
    right: 20px;
    padding-right: 70px;
    height: 44%;
    animation: fadeIn 1s ease-in-out; /* Nome da animação, duração, função de temporização */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.2s;
}


#foto:hover{
    transform: scale(1.1);
}


#saneamento {
    float: right;
    right: 20px;
    padding-left: 70px;
    height: 46%;
    animation: fadeIn 1s ease-in-out; /* Nome da animação, duração, função de temporização */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.2s;
}

#saneamento:hover{
    transform: scale(1.1);

}

#mobilidade{
    float: left;
    right: 20px;
    padding-right: 70px;
    height: 46%;
    animation: fadeIn 1s ease-in-out; /* Nome da animação, duração, função de temporização */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.2s;
}

#mobilidade:hover{
    transform: scale(1.1);

}

#barragem {
    float: right;
    right: 20px;
    padding-left: 70px;
    height: 46%;
    animation: fadeIn 1s ease-in-out; /* Nome da animação, duração, função de temporização */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.2s;
}

#barragem:hover{
    transform: scale(1.1);
}

#asfalto{
    float: left;
    right: 20px;
    padding-right: 70px;
    height: 46%;
    animation: fadeIn 1s ease-in-out; /* Nome da animação, duração, função de temporização */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.2s;
}

#asfalto:hover{
    transform: scale(1.1);

}

#divequipamentos{
    margin-left: 120px;
    animation: fadeIn 1s ease-in-out; /* Nome da animação, duração, função de temporização */
}


#equipamentos{
    height: 40%;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.2s;
  }
  

#equipamentos:hover{
    transform: scale(1.1);

}

#imagens {
    text-align: center;
}

#video {
    width: 100%;
    height: 65%;
}