{% extends 'base.html' %}
{% block conteudo %}
            <div class="container-fluid">
                <img id="poster" class="img-fluid" src="../static/img/jurema-frente.jpg" alt="">
                    <h1>Bem vindo à <br> Construtora Jurema</h1>
                    <br>
                    <h2>Sobre nós...</h2>
                    <h5 id="texto1">MAIS DE 43 ANOS DE EXPERIÊNCIA EM CONSTRUÇÃO</h5>
                    <p>A Construtora Jurema é uma empresa no ramo da construção civil, que está 
                    localizada na cidade de Teresina-PI, há mais de 43 anos atuando no mercado nacional. <br> <br>
                    A Construtora Jurema está presente na edificação de mais de 2.300 unidades habitacionais, 
                    com prédios de excelente padrão em conforto e alto nível satisfação de seus clientes, serviços de saneamento 
                    e implantações de estradas e mobilidade urbana, sempre visando a qualidade de vida das pessoas.</p>


{% endblock conteudo %}