{% extends 'base.html' %}
{% block conteudo %}

                <img id="poster" class="img-fluid" src="../static/img/jurema-frente.jpg" alt="">
                    <h4 id="text">Bem vindo à<h4><h1><strong id="text">Construtora Jurema</strong></h1>
                        <br>
                        <br>
                    <h4 id="text1">MAIS DE 43 ANOS DE EXPERIÊNCIA EM CONSTRUÇÃO</h4>
                    <h5 id="texto1" align="justify">A Construtora Jurema é uma empresa no ramo da construção civil, que está 
                    localizada na cidade de Teresina-PI, há mais de 43 anos atuando no mercado nacional. <br> <br>
                    A Construtora Jurema está presente na edificação de mais de 2.300 unidades habitacionais, 
                    com prédios de excelente padrão em conforto e alto nível satisfação de seus clientes, serviços de saneamento 
                    e implantações de estradas e mobilidade urbana, sempre visando a qualidade de vida das pessoas.</h5>
                    <br>
                    <hr>
                    <br>
                    <h1 id="text" > <strong>Nossa prioridade</strong></h1>
                    <br>
                    <ul id="text1">
                        <li><h5>Equipe dedicada</h5></li>
                        <li><h5>Entrega mais rápida</h5></li>
                        <li><h5>As Mais recentes tecnologias</h5></li>
                        <li><h5>Suporte ao cliente</h5></li>
                    </ul>
                    <br>
                        <h3 id="text2" style="text-align: left">Trabalhamos com muita dedicação para entregar o seu projeto com excelência e 
                        dentro do prazo estipulado para satisfação dos nossos clientes.</h3>
                    <br>
                    <br>
{% endblock conteudo %}
