{% extends 'base.html' %}
{% block conteudo %}
<br>
<h1 style="text-align: center; color: green;">Nossos serviços</h1>
<br>
<div id="imagens" class="container">

    <div class="card mb-3">
        <img class="card-img-top" src="../static/img/adutora.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Adutora / Abastecimento</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card mb-3">
        <img class="card-img-top" src="../static/img/barragem.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Barragem</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card mb-3">
        <img class="card-img-top" src="../static/img/estradas.jpeg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Estradas</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card mb-3">
        <img class="card-img-top" src="../static/img/mobilidade.jpeg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Mobilidade urbana</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card mb-3">
        <img class="card-img-top" src="../static/img/saneamento.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Saneamento</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card mb-3">
        <img class="card-img-top" src="../static/img/residencial.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Residencial</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
</div>

{% endblock conteudo %}