{% extends 'base.html' %}
{% block conteudo %}    

<h2 id="text2" style="text-align: center;">Alguns de nossos serviços</h2>
<br>
<br>
    <img id="foto" class="img-fluid" src="../static/img/servicos/foto.jpeg" alt="">
    <h1><strong id="texto-titulo">Topografia</strong></h1>
    <br>
    <h5 id="corpo-texto" align="left">A topografia é o estudo da superfície terrestre e de suas 
      características e formas. O resultado desta área do conhecimento 
      é a descrição das superfícies, formas, coberturas vegetais e elevações, representada em mapas.</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <img id="saneamento" class="img-fluid" src="../static/img/servicos/saneamento.jpg" alt="">
    <h1><strong id="texto-titulo">Saneamento</strong></h1>
    <br>
    <h5 id="corpo-texto" align="left">Saneamento básico é um conjunto de serviços fundamentais para o desenvolvimento 
      socioeconômicas de uma região tais como abastecimento de água, esgotamento sanitário, limpeza urbana, drenagem urbana, 
      manejos de resíduos sólidos e de águas pluviais.</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <img id="mobilidade" class="img-fluid" src="../static/img/servicos/mobilidade.jpeg" alt="">
    <h1><strong id="texto-titulo">Mobilidade</strong></h1>
    <br>
    <h5 id="corpo-texto" align="left">Mobilidade Urbana é definida como a condição que permite o deslocamento 
      das pessoas em uma cidade com o objetivo de desenvolver relações 
      sociais e econômicas. Ônibus, metrô, outros transportes coletivos
       e carros fazem parte das soluções de mobilidade.</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <img id="barragem" class="img-fluid" src="../static/img/servicos/barragem.jpg" alt="">
    <h1><strong id="texto-titulo">Barragem</strong></h1>
    <br>
    <h5 id="corpo-texto" align="left">Barragens são estruturas construídas em um curso permanente ou temporário, 
      basicamente utilizadas para contenção ou acumulação de água. Tais estruturas podem ser feitas de terra ou de concreto.</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <img id="asfalto" class="img-fluid" src="../static/img/servicos/asfalto.jpeg" alt="">
    <h1><strong id="texto-titulo">Pavimentação</strong></h1>
    <br>
    <h5 id="corpo-texto" align="left">A pavimentação asfáltica é o processo de revestimento de vias urbanas como ruas, 
      avenidas e rodovias com uma mistura de agregados e ligantes asfálticos. Por definição pavimento
       é uma estrutura de múltiplas camadas de espessuras finitas, construída sob a superfície final de terraplanagem.</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div id="imagens" class="container">
      <iframe id="video" width="100%" height="64%" src="https://www.youtube.com/embed/YlzA9JyqQxA" 
      title="CONSTRUTORA JUREMA" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      allowfullscreen></iframe>

      <br>
      <br>
      <br>
    </div>
    <hr>
    <h2 id="text2" style="text-align: center;">Alguns de nossos equipamentos</h2>
    <br>

    <div id="divequipamentos">
    <img id="equipamentos" src="../static/img/equipamentos/trator.jpeg" alt="">
    <img id="equipamentos" src="../static/img/equipamentos/tratores.jpeg" alt="">
    <img id="equipamentos" src="../static/img/equipamentos/tratores2.jpeg" alt="">
    <img id="equipamentos" src="../static/img/equipamentos/caminhao.jpeg" alt="">
    <img id="equipamentos" src="../static/img/equipamentos/quebrando-asfalto.jpeg" alt="">
    <img id="equipamentos" src="../static/img/equipamentos/trator3.jpeg" alt="">
    <img id="equipamentos" src="../static/img/equipamentos/tratores3.jpeg" alt="">
    <img id="equipamentos" src="../static/img/equipamentos/tratores4.jpeg" alt="">
    <img id="equipamentos" src="../static/img/equipamentos/trator4.jpeg" alt="">
    <img id="equipamentos" src="../static/img/equipamentos/asfalto1.jpeg" alt="">
    </div>

    
 
{% endblock conteudo %}
