{% extends 'base.html' %}
{% block conteudo %}

<br>
<h2 style="text-align: center;">Alguns de nossos serviços</h2>
<br>
<br>
<div id="imagens" class="container">
      <iframe id="video" width="100%" height="64%" src="https://www.youtube.com/embed/YlzA9JyqQxA" 
      title="CONSTRUTORA JUREMA" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      allowfullscreen></iframe>
      <br>
      <br>
      <br>
      <br>
      <br>
    <div id="adutora" class="card mb-3">
        <img class="card-img-top" src="../static/img/adutora.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Adutora / Abastecimento</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="barragem" class="card mb-3">
        <img class="card-img-top" src="../static/img/barragem.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Barragem</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="estradas" class="card mb-3">
        <img class="card-img-top" src="../static/img/estradas.jpeg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Estradas</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="mobilidade" class="card mb-3">
        <img class="card-img-top" src="../static/img/mobilidade.jpeg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Mobilidade urbana</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="saneamento" class="card mb-3">
        <img class="card-img-top" src="../static/img/saneamento.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Saneamento</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="residencial" class="card mb-3">
        <img class="card-img-top" src="../static/img/residencial.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center;">Residencial</h3>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
</div>

{% endblock conteudo %}